@model Period

<h2 class="page-header">Dönem Detayı</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Genel Bilgiler
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <td>Dönem Adı</td>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <td>Başlangıç</td>
                            <td>@Model.StartAt</td>
                        </tr>
                        <tr>
                            <td>Bitiş</td>
                            <td>@Model.FinishAt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Oluşturan Kullanıcı</td>
                            <td>@Model.CreateUser.FullName()</td>
                        </tr>
                        <tr>
                            <td>Kayıt Tarihi</td>
                            <td>@Model.CreateAt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Katılımcı Öğrenci Listesi
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>ID</td>

                <td>Öğrenci No</td>
                <td>Öğrenci Ad</td>
                <td>Öğrenci Soyad</td>

                <td>Konu</td>
                <td>Akademisyen</td>
                <td>Danışman Onay</td>
                <td>Akademisyen Onay</td>

                <td>Oluşturma Tarihi</td>
                <td style="width:143px;"></td>

            </tr>
            <tbody>
                @foreach (var item in Model.PeriodStudents)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Student.StudentNumber</td>
                        <td>@item.Student.Name</td>
                        <td>@item.Student.Surname</td>

                        <td>@item.Subject</td>
                        <td>@item.User.FullName()</td>
                        <td>
                            @if (item.AdvisorStatus == 0)
                            {
                                <span class="badge bg-primary">İşlem Bekliyor</span>
                            }
                            else if (item.AdvisorStatus == 1)
                            {
                                <span>Onaylandı</span>
                            }
                            else if (item.AdvisorStatus == 2)
                            {
                                <span>Reddedildi</span>
                            }
                        </td>

                        <td>
                            @if (item.TeacherStatus == 0)
                            {
                                <span class="badge bg-primary">İşlem Bekliyor</span>
                            }
                            else if (item.TeacherStatus == 1)
                            {
                                <span>Onaylandı</span>
                            }
                            else if (item.TeacherStatus == 2)
                            {
                                <span>Reddedildi</span>
                            }
                        </td>

                        <td>@item.CreateAt</td>>
                        <td>
                            @if (item.AdvisorStatus == 0)
                            {
                                <a class="btn btn-sm btn-success">Onayla</a>
                                <a class="btn btn-sm btn-danger">Reddet</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>