@model Period

<h2 class="page-header">Dönem Detayı</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Genel Bilgiler
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <td>Dönem Adı</td>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <td>Başlangıç</td>
                            <td>@Model.StartAt</td>
                        </tr>
                        <tr>
                            <td>Bitiş</td>
                            <td>@Model.FinishAt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>Oluşturan Kullanıcı</td>
                            <td>@Model.CreateUser.FullName()</td>
                        </tr>
                        <tr>
                            <td>Kayıt Tarihi</td>
                            <td>@Model.CreateAt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Katılımcı Öğrenci Listesi
    </div>
    <div class="panel-body">

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td>ID</td>

                <td>Öğrenci No</td>
                <td>Öğrenci Ad</td>
                <td>Öğrenci Soyad</td>

                <td>Konu</td>
                <td>Danışman Onay</td>
                <td>Oluşturma Tarihi</td>
                <td style="width:200px;"></td>

            </tr>
            <tbody>
                @foreach (var item in Model.Participants)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Student.StudentNumber</td>
                        <td>@item.Student.Name</td>
                        <td>@item.Student.Surname</td>

                        <td>@item.Subject</td>
                       
                        <td>
                            @if (item.AdvisorStatus == 0)
                            {
                                <span class="badge bg-primary">İşlem Bekliyor</span>
                            }
                            else if (item.AdvisorStatus == 1)
                            {
                                <span>Onaylandı</span>
                            }
                            else if (item.AdvisorStatus == 2)
                            {
                                <span>Reddedildi</span>
                            }
                        </td>

                        <td>@item.CreateAt</td>>
                        <td>
                            @if (item.AdvisorStatus == 0)
                            {
                                <a class="btn btn-sm btn-success">Onayla</a>
                                <a class="btn btn-sm btn-danger">Reddet</a>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td colspan="8">
                            <h4>Hoca Tercih Sırası</h4>
                            <table class="table table-striped table-bordered table-hover mt-10" style="margin-top:10px;">
                                <thead>
                                    <tr>
                                        <th>Hoca Adı</th>
                                        <th style="width:100px;">Durum</th>
                                    </tr>
                                </thead>
                                @foreach (var participantTeacher in item.ParticipantTeachers)
                                {
                                    <tr>
                                        <td>@participantTeacher.Teacher.FullName()</td>
                                        <td>
                                            @if (participantTeacher.Status == 0)
                                            {
                                                <span class="badge bg-primary">İşlem Bekliyor</span>
                                            }
                                            else if (participantTeacher.Status == 1)
                                            {
                                                <span>Onaylandı</span>
                                            }
                                            else if (participantTeacher.Status == 2)
                                            {
                                                <span>Reddedildi</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>