@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@model BitirmeProjesi.Models.Dto.UserLoginDto;

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewData["Title"]</h3>
                </div>
                <div class="panel-body">
                    <form method="post" autocomplete="off" asp-controller="Login" asp-action="Academician">
                        <div asp-validation-summary="ModelOnly"></div>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" value="mehmetcelik.99@outlook.com" autofocus asp-for="@Model.Email">
                                <span asp-validation-for="@Model.Email"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password"  value="Test1234" asp-for="@Model.Password">
                                <span asp-validation-for="@Model.Password"></span>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">
                                Giriş
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
