@{
    ViewData["Title"] = "Öğrenci Kayıt";
}

@model BitirmeProjesi.Models.Dto.StudentRegisterDto;


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewData["Title"]</h3>
                </div>
                <div class="panel-body">
                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @ViewData["SuccessMessage"]
                        </div>
                    }

                    <form method="post" asp-controller="Register" asp-action="Student">
                        <div asp-validation-summary="ModelOnly"></div>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Ad" name="Name" autofocus asp-for="@Model.Name">
                                <span asp-validation-for="@Model.Name"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Soyad" name="Surname" autofocus asp-for="@Model.Surname">
                                <span asp-validation-for="@Model.Surname"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Öğrenci No" name="StudentNumber" asp-for="@Model.StudentNumber">
                                <span asp-validation-for="@Model.StudentNumber"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="E-Posta" name="Email" type="email" asp-for="@Model.Email">
                                <span asp-validation-for="@Model.Email"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Şifre" name="Password" type="password" asp-for="@Model.Password">
                                <span asp-validation-for="@Model.Password"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Şifre Tekrar" name="PasswordConfirm" type="password" asp-for="@Model.PasswordConfirm">
                                <span asp-validation-for="@Model.PasswordConfirm"></span>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">
                                Giriş
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
